<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="./bootstrap.php"
         stopOnError="true"
         stopOnFailure="true">
    
    <!-- Test suites -->
    <testsuites>
        <testsuite name="HttpGatewayCacheModule">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Here you will have to set the path to your ZF2 directory -->
        <env name="ZF2_PATH" value="/path/to/your/zf2/library/folder" />
    </php>
</phpunit>